.footer {
    background: rgb(9, 37, 36);
    /* color:rgb(189, 228, 228); */
    color: white;
    font-size: 26px;
    padding-top: 5px;
    height: 50px;
    padding-bottom: 5px;
    text-align: center;
  }
  