
  .banner{
    background-image: url("../../images/av4.jpg") !important; 
    background-size: cover;
    background-repeat: no-repeat;
    background-color:  rgb(9, 37, 36);
    height:400px;
    background-size: auto 100%; 
    background-position: center ;
    image-resolution: 100%;
    text-align: center;
    color: rgb(229, 236, 236);
    text-shadow: 2px 2px 4px yellowgreen;
    font-size: 30px; 
  }
  h4{
    position: relative;
    padding-top: 250px;

  }
  .banner:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }
 
   @media (min-width: 576px) {
    .banner {
      font-size: calc(10px + 14 * (100vw - 320px) / 800);
    }
  }
  /* @media (min-width: 576px) {
    h4{
      padding-top: 300px;
    }
  } */